.meeting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr; 
    align-items: center;
    margin: 20px 25px;

    :hover {
      cursor: pointer;
    }

}

.segment.meeting {
    padding:3px;
}

#meeting-segment {

    #placeholder-meetingDetails {
        margin: 20px 25px;
    }

    .meeting__options {
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .options__button {
        margin-left: 20px !important;
    }

    .meeting__item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 27px;
    }

    .meeting__button button {
        visibility: hidden;
    }

    .meeting__time {
        font-size: 15px;
    }
    .meeting__time i {
        font-size: 20px;
    }


    .meeting__title {
        font-size: 20px !important;
        font-weight: 400;
        color: #48CAE4;
    }

    .meeting__employee {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .meeting .ui.placeholder {
        margin-top: 0 !important;
    }

}
