.notes__add-item:hover,
.text--editable:hover {
    background-color: rgba(248,248,250, 0.85);
}

.click-here {
    padding: 10px;
    width: 100%;
    border: 1.5px dashed rgb(214, 214, 214);
    border-radius: 4px;
    text-decoration: none;
    background-color:rgba(248,248,250, 0.85);
    display: block;
       color: rgba(24, 24, 25, 0.4);
}